<div *ngIf="InfoValue;else elseBlock">
  <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
    <mat-step>
      <ng-template matStepLabel>
        <strong><b>Management allowed employee information.</b></strong>
      </ng-template>
      <ng-container *ngIf="regConfig">
        <dynamic-form [fields]="regConfig" (submit)="submitDynamicForm($event)">
        </dynamic-form>
      </ng-container>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<ng-template #elseBlock>
  <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
  Waiting... for loading
</ng-template>
