
.master-container {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 50px);
  height: -webkit-calc(100vh - 80px); /* google, safari */
  height: calc(100vh - 80px);
}

.header {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  text-align: center;

  mat-form-field {
    width: 200px;
    min-height: 50px;
    margin: 5px;
  }
}

.detail {
  max-height: 90%;
  align-items: flex-start;
  align-self: flex-start;
}

.detail-center {
  max-height: 90%;
  justify-content: center;
}


.material-icons {
  font-size: 24px;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;
}

.is-req-welded {
  background-color: hotpink;
  // color: lightgreen !important;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  background-color: steelblue;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  color: darkcyan;
}

:host /deep/ .time-col {
  padding: 2px;
  margin: 2px;
  background-color: lightsteelblue;
  min-width: 150px;
}

:host /deep/ .type-col {
  padding: 2px;
  margin: 2px;
  color: white;
  background-color: maroon;
  min-width: 150px;
}

:host /deep/ .singleLine {
  //width:150px;
  min-width: 105px;
  top: 0px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  position: relative !important;
}

.ui-datatable {
  white-space: normal;

  tbody {
    white-space: normal;

    td {
      white-space: normal;
    }
  }
}

.fixed-size {
  table-layout: fixed;
  word-wrap: break-word;
}

.glyphicon.glyphicon-time {
  font-size: 20px;
}

$col-height: 20px;

.my-border {
  border-bottom: solid 1px black;
}

.plan-col {
  background-color: forestgreen;
  color: forestgreen;
  height: $col-height;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan2-col {
  background-color: limegreen;
  color: limegreen;
  height: $col-height;
}

.actual-col {
  background-color: steelblue;
  color: steelblue;
  height: $col-height;
  /*border-top: solid 1px black;*/
}

.empty-col {
  /*background-color: transparent;*/
  /*color: transparent;*/
  height: $col-height;
  border-top: solid 1px transparent;
  border-bottom: solid 1px transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host /deep/ .chart {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 420px;
  width: 700px;
}

:host /deep/ .ui-datatable-scrollable-header {
  font-size: small;
}

:host /deep/ .ui-datatable-scrollable-body {
  font-size: smaller;
}

.click-input {
  cursor: pointer;
}
