<div class="master-container">
  <as-split direction="horizontal" [gutterSize]="7" [useTransition]="true">
    <as-split-area [size]="35" [visible]="hideleft" [order]="1">
      <div class="child-left-container">
        <app-item-by-group-table (returnSelected)="onDetailView($event)"></app-item-by-group-table>
      </div>
    </as-split-area>
    <as-split-area [size]="65" [order]="2">
      <div class="child-container">
        <!--Left-->
        <div class="left-content">
          <div class="hide-table my-2" (click)="hideleft = !hideleft" matTooltip="Hide/Show Table" matTooltipPosition="right">
          </div>
        </div>
        <!--Center-->
        <div class="center-content">
          <div class="card-body">
            <!--Component-->
            <div *ngIf="displayValue; else elseBlock">
              <app-item-by-group-detail [ReadOnly]="ReadOnly"></app-item-by-group-detail>
            </div>
            <ng-template #elseBlock>
              <!--Title-->
              <h4 class="card-title text-info">
                Group owned item information.
              </h4>
              <h5 class="text-muted">
                Selected data from list to show information or new data.
              </h5>
            </ng-template>
          </div>
        </div>
        <!--Right-->
        <div class="right-content">
          <button type="button" mat-icon-button color="accent" (click)="onDetailEdit()"
                  [disabled]="ShowEdit" matTooltip="Create new" matTooltipPosition="left">
            <i class="fa fa-2x fa-plus" aria-hidden="true"></i>
          </button>
          <button type="button" mat-icon-button color="accent" (click)="onDetailEdit(displayValue)"
                  [disabled]="ShowEdit || DisplayDataNull" matTooltip="Edit" matTooltipPosition="left">
            <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
          </button>
          <hr />
          <button type="button" mat-icon-button color="warn" (click)="onCancelEdit()"
                  [disabled]="!ShowEdit" matTooltip="Cancel" matTooltipPosition="left">
            <i class="fa fa-2x fa-minus" aria-hidden="true"></i>
          </button>
          <button type="button" mat-icon-button color="primary" (click)="onSubmit()"
                  [disabled]="!canSave" matTooltip="Save" matTooltipPosition="left">
            <i class="fa fa-2x fa-floppy-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </as-split-area>
  </as-split>
</div>
