<div class="master-container">
  <div>
    <!--Title-->
    <h4 class="card-title text-info">
      Obsolete Item Information
    </h4>
  </div>
  <div *ngIf="onLoading" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>
  <div class="child-container">
    <!--Center-->
    <div class="center-content">
      <!--Component-->
      <div *ngIf="!ShowDetail;else InfoBlock">
        <app-obsolete-item-schedule (returnSelectedWith)="onDetailView($event)"
                                  [isOnlyCreate]="false" [isDisabled]="true"
                                  (filter)="filter = $event" [OptionFilter]="filter">
        </app-obsolete-item-schedule>
      </div>
      <ng-template #InfoBlock>
        <app-obsolete-item-info></app-obsolete-item-info>
      </ng-template>
    </div>
    <!--Right-->
    <div class="right-content">
      <button mat-mini-fab color="primary" (click)="onDetailView()"
              matTooltipPosition="left" matTooltip="Create"
              [disabled]="ShowDetail">
        <mat-icon>add</mat-icon>
      </button>
      <hr />
      <button mat-mini-fab color="warn" (click)="onCancelEdit()"
              matTooltipPosition="left" matTooltip="Cancel"
              [disabled]="!ShowDetail">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-mini-fab color="accent" (click)="onSubmit()"
              matTooltipPosition="left" matTooltip="Save"
              [disabled]="!canSave">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
</div>
