<div *ngIf="displayValue,else elseBlock">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <b>Receive infomation view.</b>
      </ng-template>
      <div class="view-container">
        <!--Row1-->
        <div class="row my-1">
          <div class="my-label">
            SparePartName :
          </div>
          <div class="my-value">
            {{displayValue.SparePartName || "-"}}
          </div>

          <div class="my-label">
            Quantity :
          </div>
          <div class="my-value">
            {{(displayValue.Quantity | number) || "-"}}
          </div>
        </div>
        <!--Row2-->
        <div class="row my-1">
          <div class="my-label">
            Date :
          </div>
          <div class="my-value">
            {{(displayValue.ReceiveDate | date:'dd/MM/yyyy')|| "-"}}
          </div>

          <div class="my-label">
            PurchaseOrder :
          </div>
          <div class="my-value">
            {{displayValue.PurchaseOrder || "-"}}
          </div>
        </div>

        <!--Row3-->
        <div class="row my-1">
          <div class="my-label">
            ReceiveBy :
          </div>
          <div class="my-value">
            {{displayValue.ReceiveEmpString || "-"}}
          </div>

          <div class="my-label">
            Remark :
          </div>
          <div class="my-value">
            {{displayValue.Remark || "-"}}
          </div>
        </div>
       
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #elseBlock>
  <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
  Waiting... for loading
</ng-template>
