<div class="mat-elevation-z8">
  <div *ngIf="isLoadingResults" class="loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="mx-2">
    <form [formGroup]="itemForm">
      <mat-form-field apparence="legacy">
        <mat-select placeholder="Selected item type" formControlName="ItemTypeId">
          <mat-option *ngFor="let itemType of itemTypes" [value]="itemType.ItemTypeId">
            <span style="font-size:smaller;">
              {{itemType.Name}}
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <search-box2 [isDisabled]="isDisabled" [isOnlyCreate]="isOnlyCreate"></search-box2>
    </form>
  </div>



  <mat-table #table [dataSource]="dataSource" matSort matSortDisableClear>
    <!-- Generic column definition -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnField">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.columnName }}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">{{ column.columnName }}:</span>
        {{ column.cell(row) }}
      </mat-cell>
      <!--Ex Else-->
      <!--<ng-container *ngIf="column.columnField !== 'StatusWorkPermit';else ElseBlock">
        <mat-cell *matCellDef="let row">{{ column.cell(row) }}</mat-cell>
      </ng-container>
      <ng-template #ElseBlock>
        <mat-cell *matCellDef="let row"
                  [ngClass]="{'is-wait': row.StatusWorkPermit === 1,
                              'is-complate': row.StatusWorkPermit === 2,
                              'is-cancel': row.StatusWorkPermit === 3}">
          <span class="m-2">{{ column.cell(row) }}</span>
        </mat-cell>
      </ng-template>-->
    </ng-container>



    <!-- Select Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <!-- Command Column -->
    <ng-container matColumnDef="Command">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-row-highlight': selectedRow === row}"
             (click)="selection.toggle(row)" style="cursor:pointer">
    </mat-row>

  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="50"
                 [pageSizeOptions]="[50, 100, 150]"
                 [length]="resultsLength"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
