<div class="master-container">
  <!--<h4 class="text-primary">Item Histories</h4>-->
  <form [formGroup]="itemOptionForm" class="header">
    <div>
      <i class="fa fa-product-hunt" aria-hidden="true"></i>
      <mat-form-field>
        <input matInput placeholder="Select item name" class="click-input"
               (click)="onOpenDialog('Item')" readonly
               id="ItemName" formControlName="ItemName">
      </mat-form-field>
    </div>
    <div>
      <button mat-mini-fab color="accent" (click)="onReport(itemOption)"
              [disabled]="!itemOption.ItemId"
              matTooltipPosition="left" matTooltip="Export" style="margin-left:10px;">
        <mat-icon>file_download</mat-icon>
      </button>
    </div>
  </form>
  <div *ngIf="isLoaded" class="loading-shade">
    <mat-spinner *ngIf="isLoaded"></mat-spinner>
  </div>
  <div class="detail" style="width:100%;">
    <ng-container *ngIf="item">
      <app-item-view [displayValue]="item"></app-item-view>
    </ng-container>
    <hr />
    <app-item-histories-table [dataRows]="itemHistories" [isLoaded]="isLoaded"
                              (returnSelected)="onSelectHistores($event)">
    </app-item-histories-table>
  </div>
</div>
