<div class="master-container">
  <form [formGroup]="reportForm" class="header">
    <div>
      <i class="fa fa-search" aria-hidden="true"></i>
      <mat-form-field>
        <input matInput placeholder="Filter By Text"
               formControlName="Filter">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-select placeholder="Selecte filter status" formControlName="WhereId">
          <mat-option>Without cancel status</mat-option>
          <mat-option *ngFor="let item of option" [value]="item.value" style="margin-left:5px;">
            {{item.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <button mat-mini-fab color="warn" (click)="resetFilter()"
              matTooltipPosition="left" matTooltip="Reset all filter">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </form>

  <div *ngIf="needReset" class="loading-shade">
    <mat-spinner *ngIf="needReset"></mat-spinner>
  </div>
  <div class="detail">
    <table *ngIf="!needReset" id="table1">
      <!-- 70vh -->
      <p-table [first]="first" [columns]="columns" [value]="datasource" [lazy]="true" (onLazyLoad)="loadDataLazy($event)"
               [paginator]="true" [rows]="pageRow" [rowsPerPageOptions]="[15,25,50]" (onSort)="onSort()"
               [totalRecords]="totalRecords" [loading]="loading" [scrollable]="true"
               [scrollHeight]="tableHeight" [style]="{width:'95vw'}">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{'width.px':col.width}" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.canSort ? col.field : ''"
                [ngStyle]="{'width.px':col.width}" class="PoHeader">
              {{col.header}}
              <p-sortIcon *ngIf="col.canSort" [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr>
            <td *ngFor="let col of columns" [ngStyle]="{'width.px':col.width}">
              <ng-container *ngIf="col.field !== 'ObsoleteItems';else listBlock">
                <ng-container [ngSwitch]="col.format">
                  <span *ngSwitchCase="1">{{rowData[col.field] | number}}</span>
                  <span *ngSwitchCase="2">{{rowData[col.field] | date:'dd/MM/yy'}}</span>
                  <span *ngSwitchDefault [innerHtml]="rowData[col.field] || '-'"></span>
                </ng-container>
              </ng-container>
              <ng-template #listBlock>
                <ol type="I">
                  <li *ngFor="let subItem of rowData[col.field];"
                      [ngClass]="{'text-danger': subItem.Status === 6 ,
                          'text-success': subItem.Status === 4 ,
                          'text-warning' : subItem.Status === 3 ,
                          'text-secondary' : subItem.Status === 1 || subItem.Status === 2}">
                    <span (click)="onClickSubItem(subItem,0)" style="cursor:pointer">
                      <strong>{{subItem.ObsoleteNo || 'Unknow'}}</strong>
                      <br />
                      {{subItem.ItemCode || ''}}{{subItem.ItemName ? ' | ' + subItem.ItemName : ''}}
                      || <i class="text-primary">Status {{subItem.StatusString}}</i> 
                    </span>
                    <br />
                    <span>
                      <button mat-mini-fab color="accent" (click)="onClickSubItem(subItem,1)" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                      </button>
                      &nbsp;&nbsp;&nbsp;
                      <button mat-mini-fab color="primary" (click)="onChangeStatus(subItem,1)" matTooltip="Approve">
                        <mat-icon>done</mat-icon>
                      </button>
                      &nbsp;&nbsp;&nbsp;
                      <button mat-mini-fab color="warn" (click)="onChangeStatus(subItem,2)" matTooltip="Cancel">
                        <mat-icon>close</mat-icon>
                      </button>
                      &nbsp;&nbsp;&nbsp;
                      <button mat-mini-fab color="primary" (click)="onPrint(subItem)" matTooltip="Print">
                        <mat-icon>print</mat-icon>
                      </button>
                    </span>
                    <br/>
                  </li>
                </ol>
              </ng-template>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </table>
  </div>
</div>

