<div class="master-container">
  <form [formGroup]="reportForm" class="header">
    <div>
      <i class="fa fa-group-o" aria-hidden="true"></i>
      <mat-form-field>
        <mat-select placeholder="Type of item" formControlName="WhereId">
          <mat-option value="">-</mat-option>
          <mat-option *ngFor="let itemType of itemTypes" [value]="itemType.ItemTypeId">
            {{ itemType.Name }}-{{itemType.Description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <mat-form-field>
        <input matInput [matDatepicker]="SDate" placeholder="Choose a date"
               formControlName="SDate" [max]="reportForm.controls.EDate.value">
        <mat-datepicker-toggle matSuffix [for]="SDate"></mat-datepicker-toggle>
        <mat-datepicker #SDate></mat-datepicker>
      </mat-form-field>
      &nbsp;&ndash;&nbsp;
      <mat-form-field>
        <input matInput [matDatepicker]="EDate" placeholder="Choose a date"
               formControlName="EDate" [min]="reportForm.controls.SDate.value">
        <mat-datepicker-toggle matSuffix [for]="EDate"></mat-datepicker-toggle>
        <mat-datepicker #EDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <button mat-mini-fab color="warn" (click)="resetFilter()"
              matTooltipPosition="left" matTooltip="Reset all filter">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-mini-fab color="accent" (click)="onGetExportToFile()"
              matTooltipPosition="left" matTooltip="Export" style="margin-left:10px;">
        <mat-icon>file_download</mat-icon>
      </button>
    </div>
  </form>
  <div *ngIf="needReset" class="loading-shade">
    <mat-spinner *ngIf="needReset"></mat-spinner>
  </div>
  <div class="detail">
    <table *ngIf="!needReset" id="table1">
      <p-table [first]="first" [columns]="columns" [value]="datasource" [lazy]="true" (onLazyLoad)="loadDataLazy($event)"
               [totalRecords]="totalRecords" [loading]="loading" [scrollable]="true" scrollHeight="70vh" [style]="{width:'98vw'}">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [ngStyle]="{'width.px':col.width}">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [ngStyle]="{'width.px':col.width}"
                class="PoHeader">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" [ngStyle]="{'width.px':col.width}">
              <span [innerHtml]="rowData[col.field] || '-'"></span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </table>
  </div>
</div>

