<div *ngIf="editValue; else elseBlock">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <b>Type maintenance infomation edit</b>
      </ng-template>
      <form [formGroup]="editValueForm">
        <div class="form-container-column">
          <div class="row-form">
            <div class="left-content">
              <mat-form-field hintLabel="Max 50 characters">
                <input matInput placeholder="Enter name of work group"
                       required maxlength="50"
                       id="Name" formControlName="Name">
                <mat-hint [align]="'end'">{{editValueForm.controls.Name.value?.length || 0}}/50</mat-hint>
                <mat-error *ngIf="editValueForm.controls.Name.hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="right-content">
              <mat-form-field hintLabel="Max 200 characters">
                <input matInput placeholder="Description of work group"
                       maxlength="200"
                       id="Description" formControlName="Description">
                <mat-hint [align]="'end'">{{editValueForm.controls.Description.value?.length || 0}}/200</mat-hint>
              </mat-form-field>
            </div>
          </div>

          <div class="row-form">
            <div class="left-content">
              <mat-form-field>
                <mat-select placeholder="Selected Type" required
                            id="ItemTypeId" formControlName="ItemTypeId">
                  <mat-option *ngFor="let item of itemTypes" [value]="item.ItemTypeId">
                    {{ item.Name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="editValueForm.controls.ItemTypeId.hasError('required')">
                  ItemType is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="right-content">
              <mat-form-field>
                <input matInput placeholder="Standard Time" type="number"
                       min="0" id="StandardTime" formControlName="StandardTime">
                <mat-error *ngIf="editValueForm.controls.StandardTime.hasError('required')">
                  StandardTime is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="editValueForm.controls.StandardTime.hasError('min')">
                  StandardTime minimum is <strong>0</strong>
                </mat-error>
              </mat-form-field>
            </div>

          </div>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #elseBlock>
  <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
  Waiting... for loading
</ng-template>
