<div class="master-dialog-vh" *ngIf="itemMainten">
  <H5 style="color:cadetblue">Maintenance information.</H5>
  <div class="child-container">
    <div class="center-content">
      <div class="child-container" style="min-height:35px;" *ngIf="data.ShowCommand">
        <button type="button" mat-raised-button color="warn" matTooltip="Go to plan this workitem"
                (click)="onSelectedValue(1)">
          Information Actual
        </button>
        <span class="mx-2"></span>
        <button type="button" mat-raised-button color="accent" (click)="onCancelClick()"
                matTooltip="Go Back" class="ml-auto">
          Close
        </button>
      </div>
      <hr class="w-75 mt-1" />
      <div *ngIf="itemMainten" style="transform:scale(0.9,0.9);transform-origin: top left;">
        <app-item-mainten-view-dialog [displayValue]="itemMainten">
        </app-item-mainten-view-dialog>
      </div>
    </div>
  </div>
</div>
